---
layout: udalosti
---

<section class="mt-15 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4">
    {% set eventlist = collections.event %}
    {% for event in eventlist | reverse %}
        <article class="">
                <a href="{{ event.url | url }}">
                    <div class="card bg-gray-100">
                        <img src="https://media.graphassets.com/BFp0bD0LTQq4RZFdazMu" alt="avatar" style="width:100%">
                        <div class="container p-4">
                            <div class="date flex">
                                <p>{{ event.data.startdate }}</p>
                                {% if event.data.enddate %}
                                    <p>&nbsp– {{ event.data.enddate }}</p>
                                {% else %}
                                {% endif %}
                            </div>
                            <h3>{{ event.data.title }}</h3>
                            <p class="location">{{ event.data.location }}</p>
                        </div>
                      </div>
                </a>
        </article>
    {% endfor %}
</section>