@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

html, body {
  @apply bg-neutral-600;
  font-size: 18px;
  color: #F2F2F2;
}



h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

.button {
  @apply py-1 px-2 w-32 rounded-md border border-neutral-100 mr-2;
}

.active {
  @apply text-neutral-600 bg-neutral-100
}

.passive { 
  @apply text-neutral-100 bg-neutral-600
}

.card {
  @apply text-neutral-600;
  background-color: #F2F2F2;
  border-radius: 0.5rem;
  min-height: 100%;
}

.card img {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.card h3 {
  font-size: 1.2rem;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.card .location {
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
}

.card .date {
  font-size: 0.8rem;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
